@import url(reset.css);
@import url(colors.css);

@import url("https://fonts.googleapis.com/css?family=Varela+Round");

html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: "Varela Round", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: var(--background-primary-color);
  height: 60px;
  color: var(--text-secondary-color);
}

.user {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 0.6rem;
  color: var(--text-secondary-color);
}

sidebar {
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px;
  transform: translateX(250px);
  transition: transform 250ms ease-in-out;
  background: var(--background-primary-color);
  padding: 1rem 0;
}

sidebar ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

sidebar ul li {
  width: 100%;
}

sidebar button {
  color: var(--text-secondary-color);
  font-size: 1rem;
  border: none;
  background: none;
  text-transform: uppercase;
  padding: 0.7rem 0;
  width: 100%;
}

sidebar button:hover {
  color: var(--text-secondary-color);
  transition: all 0.3s;
  cursor: pointer;
  background: var(--background-secondary-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

main h1 {
  font-size: 1.5rem;
}

main li {
  list-style: none;
  text-transform: capitalize;
  font-size: 1.1rem;
}

/* Hamburguer */
input[type="checkbox"]:checked ~ sidebar {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  right: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--text-secondary-color);
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
